# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native generated folders
/ios/
/android/
.kotlin/

# Credentials and environment
.env
.env.*
!.env.example
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# Tooling and logs
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*
*.tsbuildinfo
.DS_Store
*.orig.*

# Local documentation
*.md
!/README.md